<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="#{layout.head.app.name} + ' ' + ${title}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
<script defer th:src="@{/js/all.min.js}"></script>
</head>
<body>

	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-main">
			<a class="navbar-brand" th:href="@{/}"><i class="fas fa-city mr-2"></i><span th:text="#{layout.header.company.name}"></span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNav" aria-controls="navbarNav"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" th:href="@{/clients}"
						th:text="#{layout.header.clients}"></a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/products}"
						th:text="#{layout.header.products}"></a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item"><a class="nav-link" th:href="@{/invoices/new}"
						th:text="#{layout.header.invoice}"></a></li>
				</ul>
			</div>
				<a class="nav-link" data-toggle="modal" data-target="#logoutModal" role="button">
					<i class="fas fa-sign-out-alt ml-3 mr-1 txt-white"></i><span class="txt-white" th:text="#{layout.header.logout}"></span>
					<span class="txt-white" sec:authorize="isAuthenticated()" th:text="${' ( ' + {#authentication.name} + ' )'}"></span>
				</a>
		</nav>
		
		<div th:replace="auth/logoutModal :: logoutModal"></div>
	</header>
	
	<div th:fragment="notifications">
		<section sec:authorize="not hasRole('ROLE_ADMIN')" class="alert alert-orange" th:text="#{layout.message.not.admin}"></section>
		<section class="alert alert-green" th:if="${null != success}"
			th:text="${success}"></section>
		<section class="alert alert-red" th:if="${null != error}"
			th:text="${error}"></section>
		<section class="alert alert-orange" th:if="${null != warning}"
			th:text="${warning}"></section>
		<section class="alert alert-main" th:if="${null != info}"
			th:text="${info}"></section>
	</div>

	<main class="container"></main>

	<footer th:fragment="footer" class="container my-3">
		<hr />
		<small th:text="#{layout.footer.description}" class="txt-dark font-weight-bold"></small>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
	</footer>


</body>
</html>