<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<main class="container">
	<div class="card my-5 bdr-main">
		<div class="card-header bdr-main">
			<div class="row">
			<div class="col-sm-8"><h1 th:text="${title}" class="h2 txt-dark my-3"></h1></div>
			<div class="col-sm-4">
				<form id="search" class="form-inline my-3">
					<input id="search-input" class="form-control mr-sm-2" type="search" th:placeholder="#{search.form.client.placeholder}">
		    		<button class="btn btn-main my-2 my-sm-0" type="submit" th:text="#{search.form.button}"></button>
	    		</form>
    		</div>
		</div>
		<div class="card-body">
			<p><a th:href="@{/clients/new}" class="ml-2 txt-contrast" th:text="#{client.list.button.add}"></a></p>
			<table class="table table-striped">
				<thead class="bg-second text-light">
					<tr>
						<th th:text="#{client.list.name}"></th>
						<th th:text="#{client.list.surname}"></th>
						<th th:text="#{client.list.email}"></th>
						<th th:text="#{client.list.created.at}"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client: ${clients}">
						<td th:text="${client.name}"></td>
						<td th:text="${client.surname}"></td>
						<td th:text="${client.email}"></td>
						<td th:text="${client.createdAt}"></td>
						<td>
							<a th:href="@{/clients/} + ${client.id}"><button class="btn btn-green mr-3"  th:text="#{client.list.button.detail}"></button></a>
							<a th:href="@{/clients/edit/} + ${client.id}"><button class="btn btn-blue mr-3"  th:text="#{client.list.button.edit}"></button></a>
							<a th:href="@{/clients/delete/} + ${client.id}"><button class="btn btn-red" th:text="#{client.list.button.delete}"></button></a>
						</td>
					</tr>
				</tbody>
			</table>
			<nav th:replace="layout/pagination :: pagination"></nav>
		</div>
	</div>

	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="layout/searchForm :: searchForm"></script>
</body>
</html>