<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<main class="container py-4">
	
		<div class="card bdr-main">
			<div class="card-header bdr-main"><h1 class="h2 txt-dark my-3" th:text="${title}"></h1></div>
			<div class="card-body bdr-main">
				<ul class="list-group">
					<li class="list-group-item" th:text="${client.name}"></li>
					<li class="list-group-item" th:text="${client.surname}"></li>
					<li class="list-group-item" th:text="${client.email}"></li>
					<li class="list-group-item" th:text="${client.createdAt}"></li>
				</ul>
				<div class="alert alert-main my-4" th:if="${#lists.isEmpty(client.invoices)}" th:text="#{client.detail.errors.invoice.not.found(${client.name + ' ' + client.surname})}"></div>			
				<a th:href="@{${'/invoices/' + client.id + '/new'}}"><button class="btn btn-orange mt-4" th:text="#{client.detail.button.add.invoice}"></button></a>
				<table th:if="${not #lists.isEmpty(client.invoices)}" class="table table-bordered table-striped my-4">
					<thead class="bg-second text-light">
						<tr>
							<th th:text="#{client.detail.invoice.number}"></th>
							<th th:text="#{client.detail.invoice.description}"></th>
							<th th:text="#{client.detail.invoice.details}"></th>
							<th th:text="#{client.detail.invoice.created.at}"></th>
							<th th:text="#{client.detail.invoice.total}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="invoice: ${client.invoices}">
							<td class="badge btn-main margin mt-1 ml-4"><a th:href="@{${'/invoices/' + invoice.id}}"><span class="text-light" th:text="${invoice.id}"></span></a></td>
							<td th:text="${invoice.description}"></td>
							<td th:text="${invoice.details}"></td>
							<td th:text="${invoice.createdAt}"></td>
							<td th:text="${invoice.total}"></td>
						</tr>
					</tbody>
				</table>
<!-- 				<nav th:replace="layout/pagination :: pagination"></nav> -->
			</div>
		</div>
	
	</main>
	
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>