<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<main class="container">
	
		<div class="card bdr-main my-5">
			<div class="card-header bdr-main"><h1 th:text="${title}" class="h2 txt-dark my-3"></h1></div>
			<div class="card-body">		
				<form th:action="@{/clients/new}" th:object="${client}" method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="name" th:text="#{forms.client.add.name}"></label>
						<div class="col-sm-6"><input type="text" th:field="*{name}" id="name" class="form-control" th:errorclass="'form control alert-danger'"/></div>	
						<small th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="form-text text-danger"></small>	
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="surname" th:text="#{forms.client.add.surname}"></label>
						<div class="col-sm-6"><input type="text" th:field="*{surname}" id="surname" class="form-control" th:errorclass="'form control alert-danger'"/></div>
						<small th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="form-text text-danger"></small>	
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="email" th:text="#{forms.client.add.email}"></label>
						<div class="col-sm-6"><input type="text" th:field="*{email}" id="email" class="form-control" th:errorclass="'form control alert-danger'"/></div>
						<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="form-text text-danger"></small>		
					</div>	
					<button type="submit" class="btn btn-main mt-3" th:text="#{forms.client.add.button.submit}"></button>
				</form>
			</div>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>