<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<main class="container py-4">
		<div class="card alert-red">
			<div class="card-header bg-red text-light"><span th:text="#{error.generic}"></span></div>
			<div class="card-body">
				<h5 class="card-title mb-4" th:text="#{error.generic.message}"></h5>
				<a th:href="@{/}" class="btn alert-red" role="button" th:text="#{error.generic.go.home}"></a>
			</div>
		</div>
	</main>
</body>
</html>