<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>

<script type="text/javascript" th:fragment="autocomplete">
	
	$(document).ready(() => {
		$("#search").autocomplete({
			
			source: (request,response) => {
				$.ajax({
					url: "/invoices/load-products/" + request.term,
					datatype: "json",
					data: {
						term: request.term
					},
					success: data => {
						response($.map(data, item => {
							return {
								value: item.id, 
								label:item.name, 
								precio:item.price
							}
						}))							
					}
				})
			},
			select: (event,ui) => {
				$("#search").val(ui.item.label)
				return false
			}
		})
	})	
	
</script>

</body>

</html>