<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>

<body>

<script type="text/javascript" th:fragment="autocomplete">
	
	$(document).ready(() => {
		$("#search").autocomplete({
			
			source: (request,response) => {
				$.ajax({
					url: "/invoices/load-products/" + request.term,
					datatype: "json",
					data: {
						term: request.term
					},
					success: data => {
						response($.map(data, item => {
							return {
								value: item.id, 
								label: item.name, 
								price: item.price
							}
						}))							
					}
				})
			},
			select: (event,ui) => {
				
				if(alreadyExists(ui.item.value)){
					increaseAmount(ui.item.value, ui.item.price)
					return
				}
				
				let line = $("#invoiceItems").html()
				
				line = line.replace(/{ID}/g, ui.item.value)
				line = line.replace(/{NAME}/g, ui.item.label)
				line = line.replace(/{PRICE}/g, ui.item.price)
				
				$("#invoiceItemsTable tbody").append(line)
				getTotal(ui.item.value, ui.item.price, 1)
								
				return
			}
		})
		
		$("form").submit(() => {
			$("#invoiceItems").remove()
			return
		})
	})	
	
	let getTotal = (id, price, amount) => {
		$("#total_" + id).html(parseInt(price) * parseInt(amount))
		getInvoiceTotal()
	} 
	
	let alreadyExists = id => {
		let result = false
		$("input[name='itemId[]']").each((index,element) => {
			if(parseInt(id) === parseInt($(element).val())) {
				result = true
			}
		})
		return result
	}
	
	let increaseAmount = (id, price) => {
		let amount = $("#amount_" + id).val() ? parseInt($("#amount_" + id).val()) : 0;
		$("#amount_" + id).val(amount++)
		getTotal(id,price,amount)
	}
	
	let deleteInvoiceItem = id => {
		$("#item_" + id).remove()
	}
	
	let getInvoiceTotal = () => {
		let total = 0
		$("span[id^='total_']").each((index, element) => {
			total += parseInt($(element).html())
		})
		$("#invoiceTotal").html(total)
	}
	
</script>

</body>

</html>