<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<main class="container">
	
		<div class="card bg-light my-5">
			<div class="card-header"><h1 th:text="${title}" class="text-secondary my-3"></h1>
			<a class="btn btn-light" th:href="@{${'/clients/' + invoice.client.id}}" th:utext="#{forms.invoice.add.back}"></a>
			</div>
			<div class="card-body">		
				<form th:action="@{${'/invoices/' + invoice.client.id + '/new'}}" th:object="${invoice}" method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="name" th:text="#{forms.invoice.add.client.name}"></label>
						<div class="col-sm-6"><input type="text" id="name" class="form-control" th:value="${invoice.client.name + ' ' + invoice.client.surname}" disabled/></div>	
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="description" th:text="#{forms.invoice.add.description}"></label>
						<div class="col-sm-6"><input type="text" th:field="*{description}" id="name" class="form-control" th:errorclass="'form control alert-danger'"/></div>	
						<small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="form-text text-danger"></small>	
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="details" th:text="#{forms.invoice.add.details}"></label>
						<div class="col-sm-6"><textarea th:field="*{details}" id="details" class="form-control" th:errorclass="'form control alert-danger'"></textarea></div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="search" th:text="#{forms.invoice.add.search}"></label>
						<div class="col-sm-6"><input type="text" id="search" class="form-control"/></div>	
					</div>
					<table th:replace="invoice/invoiceItem :: invoiceItem"></table>
					<table id="invoiceItemsTable" class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th>Name</th>
								<th>Price</th>
								<th>Amount</th>
								<th>Subtotal</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<h5 class="text-right">Total: <span class="badge badge-secondary" id="invoiceTotal">0</span></h5>
					<button type="submit" class="btn btn-success" th:text="#{forms.invoice.add.button.submit}"></button>
				</form>
			</div>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="invoice/autocomplete :: autocomplete"></script>
</body>
</html>