<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>
	<header th:replace="layout/layout :: notifications"></header>

	<main class="container">
	
		<div class="card bdr-main my-5">
			<div class="card-header bdr-main"><h1 th:text="${title}" class="h2 txt-dark my-3"></h1>
			</div>
			<div class="card-body">		
				<form th:action="@{/invoices/new}" th:object="${invoice}" method="post">
					<input type="hidden" th:field="*{client.id}" id="clientId"></input>
					<input type="hidden" th:field="*{client.name}" id="clientName"></input>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="name" th:text="#{forms.invoice.add.client.name}"></label>
						<div class="col-sm-6"><input type="text" id="client" class="form-control"/></div>	
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="description" th:text="#{forms.invoice.add.description}"></label>
						<div class="col-sm-6"><input type="text" th:field="*{description}" id="name" class="form-control"/></div>	
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="details" th:text="#{forms.invoice.add.details}"></label>
						<div class="col-sm-6"><textarea th:field="*{details}" id="details" class="form-control"></textarea></div>
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label" for="search" th:text="#{forms.invoice.add.search}"></label>
						<div class="col-sm-6"><input type="text" id="search" class="form-control"/></div>	
					</div>
					<table th:replace="invoice/invoiceItem :: invoiceItem"></table>
					<table id="invoiceItemsTable" class="table table-sm table-striped table-hover">
						<thead>
							<tr>
								<th th:text="#{forms.invoice.add.product.name}"></th>
								<th th:text="#{forms.invoice.add.product.price}"></th>
								<th th:text="#{forms.invoice.add.product.amount}"></th>
								<th th:text="#{forms.invoice.add.product.subtotal}"></th>
								<th th:text="#{forms.invoice.add.product.delete}"></th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
					<h5 class="text-right"><span th:text="#{forms.invoice.add.product.total} + ': '"></span><span class="badge btn-main" id="invoiceTotal">0</span></h5>
					<button type="submit" class="btn btn-main" th:text="#{forms.invoice.add.button.submit}"></button>
				</form>
			</div>
		</div>
	</main>
	<footer th:replace="layout/layout :: footer"></footer>
	<script th:replace="home/autocomplete :: autocomplete"></script>
	<script th:replace="invoice/autocomplete :: autocomplete"></script>
</body>
</html>